{% extends 'base.html.twig' %}

{% block title %}Edit Formation{% endblock %}

{% block body %}
    <h1>Edit Formation</h1>

    {% comment %} {{ include('formation/_form.html.twig', {'button_label': 'Update'}) }} {% endcomment %}

    <a href="{{ path('app_formation_index') }}">back to list</a>

    {{ include('formation/_delete_form.html.twig') }}
{% endblock %}
